.menu
  ul.menu__list
    li.menu__listElement
      a.menu__link(href="#") PORTFOLIO
    li.menu__listElement
      a.menu__link(href="#") USŁUGI
    li.menu__listElement
      a.menu__link(href="#") ZESPÓŁ
    li.menu__listElement
      a.menu__link(href="#") WSPÓŁPRACA
    li.menu__listElement
      a.menu__link(href="#") REKRUTACJA
    li.menu__listElement
      .menu__contact KONTAKT 
  include ../ContactForm/ContactForm



