.staticInfo
  .staticInfo__container
    .staticInfo__flex
      img.staticInfo__img(src="./assets/images/StaticInfo/info.png" alt="staticInfo")
      .staticInfo__inner
        .staticInfo__item
          img.staticInfo__icon(src="./assets/images/StaticInfo/goal.png" alt="icon")
          .staticInfo__title Misja firmy
          .staticInfo__text
            | W Rebel Media słuchamy swoich klientów a dzięki szerokim kompetencjom i nieszablonowemu
            | podejściu do komunikacji możemy zaproponować skuteczne rozwiązania, które wyróżniają ich markę.
        .staticInfo__item
          img.staticInfo__icon(src="./assets/images/StaticInfo/KIM.png" alt="icon")
          .staticInfo__title Kim jest nasza konkurencja
          .staticInfo__text
            ul.staticInfo__list
              li.staticInfo__listItem Domy mediowe
              li.staticInfo__listItem Telewizje i agencje telewizyjne
              li.staticInfo__listItem Agencje reklamowe
        .staticInfo__item
          img.staticInfo__icon(src="./assets/images/StaticInfo/JACY.png" alt="icon")
          .staticInfo__title Jacy jesteśmy
          .staticInfo__text
            ul.staticInfo__list
              li.staticInfo__listItem szczerzy
              li.staticInfo__listItem odważni
              li.staticInfo__listItem dynamiczni
              li.staticInfo__listItem bezpośredni
        .staticInfo__item
          img.staticInfo__icon(src="./assets/images/StaticInfo/Wartosc.png" alt="icon")
          .staticInfo__title Wartość firmy
          .staticInfo__text
            ul.staticInfo__list
              li.staticInfo__listItem niezależność
              li.staticInfo__listItem multidyscyplinarność
              li.staticInfo__listItem partnerskie podejście
              li.staticInfo__listItem doświadczenie
        .staticInfo__item
          img.staticInfo__icon(src="./assets/images/StaticInfo/teamwork.png" alt="icon")
          .staticInfo__title Co nas wyróżnia?
          .staticInfo__text
            ul.staticInfo__list
              li.staticInfo__listItem wszystkie obszary komunikacji w jednej agencji
              li.staticInfo__listItem jedna kompetentna osoba odpowiadająca za obsługę klienta we wszystkich obszarach
              li.staticInfo__listItem posiadamy własne zaplecze produkcyjne
        .staticInfo__item
          img.staticInfo__icon(src="./assets/images/StaticInfo/pracujemy.png" alt="icon")
          .staticInfo__title Jak pracujemy?
          .staticInfo__text
            ul.staticInfo__list.-withoutdoc
              li.staticInfo__listItem Słuchamy uważnie.
              li.staticInfo__listItem Myślimy szeroko.
              li.staticInfo__listItem Działamy dynamicznie
              li.staticInfo__listItem Zawsze wiemy co zrobić dla Twojej marki.
    .staticInfo__box
      img.staticInfo__logo(src="./assets/images/StaticInfo/logo.png" alt="logo")

        
