.portfolio
  img.portfolio__logo(src="./assets/images/Portfolio/portfolio.png" alt="portfolio_logo")
  .portfolio__container
    .portfolio__inner
      include ../PortfolioItem/PortfolioItem
      include ../PortfolioItem/PortfolioItem
  .portfolio__moreInfo
    a.portfolio__link(href="")
      .portfolio__more Więcej
      img.portfolio__arrow(src="./assets/images/Icon/strzalka.png" alt="arrow")