.clients
  img.clients__logo(src="./assets/images/Clients/clients.png" alt="logo")
  .clients__section
    .clients__container
      .clients__inner
        img.clients__client(src="./assets/images/Clients/samsung.png" alt="samsung")
      .clients__inner
        img.clients__client(src="./assets/images/Clients/head.png" alt="head")
      .clients__inner
        img.clients__client(src="./assets/images/Clients/agata.png" alt="agata")
      .clients__inner
        img.clients__client(src="./assets/images/Clients/prymat.png" alt="prymat")
      .clients__inner
        img.clients__client(src="./assets/images/Clients/tymbark.png" alt="tymbark")
      .clients__inner
        img.clients__client(src="./assets/images/Clients/beko.png" alt="beko")
      .clients__inner
        img.clients__client(src="./assets/images/Clients/fiat.png" alt="fiat")
      .clients__inner
        img.clients__client(src="./assets/images/Clients/apart.png" alt="apart")
      .clients__inner
        img.clients__client(src="./assets/images/Clients/kubus.png" alt="kubus")
      .clients__inner
        img.clients__client(src="./assets/images/Clients/kazar.png" alt="kazar")
      .clients__inner
        img.clients__client(src="./assets/images/Clients/radioZet.png" alt="radioZet")
      .clients__inner
        img.clients__client(src="./assets/images/Clients/lubella.png" alt="lubella")







    


    