.main
  include ../Loader/Loader
  include ../Header/Header
  include ../Media/Media
  include ../Service/Service
  include ../Portfolio/Portfolio
  include ../Clients/Clients
  include ../Footer/Footer