extends ./../components/layout/_layout

block content
	//- PUT CODE HERE
	include ../components/Loader/Loader
	include ../components/Header/Header
	include ../components/Media/Media
	include ../components/Service/Service
	include ../components/Portfolio/Portfolio
	include ../components/Clients/Clients
	include ../components/Footer/Footer


