.articleSlider
  img.articleSlider__img(src="./assets/images/Media/poster.png" alt="poster")
  .articleSlider__slick
    include ../ArticleSliderItem/ArticleSliderItem
    include ../ArticleSliderItem/ArticleSliderItem
    include ../ArticleSliderItem/ArticleSliderItem
    include ../ArticleSliderItem/ArticleSliderItem
    include ../ArticleSliderItem/ArticleSliderItem