form.contactForm(action="" method="" enctype="multipart/form-data")
    .contactForm__inner
      input.contactForm__input.-name(type="text" placeholder="IMIĘ NAZWISKO" required)
      input.contactForm__input(type="email" placeholder="E-MAIL" required)
      span.contactForm__text WIADOMOŚĆ
      textarea.contactForm__textArea
      button.contactForm__btn WYŚLIJ
        img.contactForm__arrow(src="./assets/images/Icon/strzalka.png" alt="arrow")
    .contactForm__inner
      .contactForm__adres
        | REBEL MEDIA SP. Z O.O.
        br
        | SP. KOMANDYTOWA
        br
        | Ul. Igańska 5
        br
        | 04-087 Warszawa
        br
        img.contactForm__facebook(src="./assets/images/Icon/FB.png" alt="fb")
    