.media
  img.media__logo(src="./assets/images/Media/media.png" alt="media")
  .media__section
    .media__container
      .media__text
        .media__motto 
          | Myślimy szeroko.
          br 
          | Słuchamy uważnie.
          br
          | Działamy dynamicznie
          br
          br
          | Wiemy co zrobić
          br
          | dla Twojej marki.
          br 
          | Zróbmy to razem.
    .media__container
      include ../ArticleSlider/ArticleSlider
  include ../StaticInfo/StaticInfo